.messages-container {
  max-width: 200px;
}

.message {
  max-width: 200px;
  display: table;
  word-break: break-all;
  background: #30475e;
  text-align: left;
  margin: 10px 0 10px 0;
  padding: 10px;
  border-radius: 10px 10px 10px 0;
}

.username {
  margin: 2px 0 2px 0;
  color: #f2a365;
}

.msg-body {
  margin: 2px 0 2px 0;
}

/* width */
#chatbox::-webkit-scrollbar {
  width: 10px;
}

/* Track */
#chatbox::-webkit-scrollbar-track {
  background: #ececec;
}

/* Handle */
#chatbox::-webkit-scrollbar-thumb {
  border-radius: 20px 20px 0 0;
  background: #888;
}

/* Handle on hover */
#chatbox::-webkit-scrollbar-thumb:hover {
  background: #555;
}
