.player-preloader {
  z-index: 1;
  position: relative;
  /* top: calc(50% - 1em); */
  left: calc(50% - 1.5em);
  width: 1.5em;
  height: 1.5em;
  border: 0.5em solid rgba(0, 0, 0, 0.9);
  border-left: 0.5em solid #ffbd69;
  border-radius: 50%;
  animation: playerLoad 1.1s infinite linear;
}

@keyframes playerLoad {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* width */
#chatbox::-webkit-scrollbar {
  width: 10px;
}

/* Track */
#chatbox::-webkit-scrollbar-track {
  background: #ececec;
}

/* Handle */
#chatbox::-webkit-scrollbar-thumb {
  border-radius: 20px 20px 0 0;
  background: #888;
}

/* Handle on hover */
#chatbox::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#input-username,
#input-video-link {
  /* width: 300px; */
  background: #30475e;
  border: 2px solid #30475e;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #ececec;
  font-size: 1rem;
  margin-top: 20px;
}

#input-username:focus {
  border-color: #ffbd69;
}

#label-name {
  margin: 20px 10px 0 0;
  font-size: 1rem;
  font-weight: bold;
}

#submit-button,
#create-button {
  text-decoration: none;
  margin: 20px 0 0 10px;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 2px solid #ffbd69;
  background-color: #ffbd69;
  color: #30475e;
  display: inline-block;
  font-weight: bold;
  transition: 0.5s;
  outline: none;
}

#create-button:hover,
#submit-button:hover,
#button-video:hover {
  cursor: pointer;
  background-color: #30475e;
  border: 2px solid #30475e;
  color: #ffbd69;
}

#button-video {
  text-decoration: none;
  margin: 0 0 0 10px;
  border-radius: 5px;
  border: 2px solid #ffbd69;
  background-color: #ffbd69;
  color: #30475e;
  font-weight: bold;
  transition: 0.5s;
}

.video-container {
  overflow: hidden;
  position: relative;
  /* width: 100%; */
}

.video-container::after {
  padding-top: 56.25%;
  display: block;
  content: '';
}

#player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.video-wrapper {
  width: 65%;
  margin-top: 20px;
  overflow: hidden;
}
@media (max-width: 1208px) {
  .video-wrapper {
    width: 100%;
  }
}

.messages-wrapper {
  margin: 20px;
  border-radius: 20px;
  overflow: hidden;
}
